.shortDescription{
	height : 40px;
	//white-space: nowrap;
 	 width: 100%;
	overflow:hidden;
	text-overflow: ellipsis;
}

.expcard{
	//height : 350px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 19px;
    margin-bottom: 50px;
    border-radius: 3px;
}
.expcard > h4{

}
.expcard img{
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 43px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#singleExperience	{
	  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
#breadcrumb	{
font-family: "tenso",sans-serif;
font-style: italic;
font-weight: 300;
font-size: 1.2em;
margin-bottom: 10px
}
#singleImage	{
	width:100%;
	height:500px;

}
#experienceName	{
	// width: auto;
	position: absolute;
	top: 20px;
	font-size: 3em;
	background-color: rgba(255, 255, 255, .7);
	color: rgba(0, 0, 0, .7);
	padding-left: 30px;
	padding-right:30px;
	font-family: "tenso",sans-serif;
	font-style: italic;
	font-weight: 500;
}
.flexColumn	{
position: relative;
}
.item {
	position: relative;
  top: 500px;
	left:	0;
}
.location	{
	margin-top: 120px;
}
.description	{
	font-family: "tenso",sans-serif;
	font-style: normal;
	font-weight: 400;
}
.clear	{
	clear:both;
}
.moreBottomPadding	{
	padding-bottom: 40px;
}
.md-raised	{
	width:120px;
	height:40px;
	margin: 0;
line-height: 40px;
min-height: 40px;
vertical-align: top;
}
// button.md-raised.success.pull-right.md-button.md-ink-ripple	{
// 	background-color: green;
// 	width:120px;
// 	height:40px;
// 	margin: 0;
// 	line-height: 40px;
//  	min-height: 40px;
//  vertical-align: top;
// }
.glyphicon-star, .glyphicon-star-empty {
  color:#FDC54C;
}
.title	{
	margin-left: 10px;
	margin-top: 45px;
}
#moreThingsToLike	{
	margin-bottom: 45px;
}
.block-ellipsis-small {
 display: block;
 display: -webkit-box;
 max-width: 100%;
 // height: 43px;
 margin: 0 auto;
 margin-bottom: 9px;
 font-size: 1em;
 line-height: 1;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
}
.reviewBody{
	font-family: "tenso",sans-serif;
	font-style: normal;
	font-weight: 300;
}
#ratingUnderPhoto	{
	margin-top: 19px
}
.reviewBlock	{
	padding-left: 30px
}
#reviewSectionTitle	{
	margin-top: 0
}
#writeReviewTitle	{
	height:40px;
	margin: 0;
	text-align: right;
	line-height: 40px
}
.md-button{
	text-transform: none;
}
