.grayBackground	{
	background-color: $contentBackground;
}

experience-card	{
	background-color: $contentBackground;
}

md-card	{
	background-color: $cardBackground;
}

.shortDescription{
	height : 40px;
	//white-space: nowrap;
 	 width: 100%;
	overflow:hidden;
	text-overflow: ellipsis;
}

.expcard{
	//height : 350px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 19px;
    margin-bottom: 50px;
    border-radius: 3px;
}

.expcard > h4{

}
.expcard img{
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 43px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#singleExperience	{
	  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
		background-color: $cardBackground;
}
#breadcrumb	{
font-style: italic;
font-weight: 300;
font-size: 1.2em;
margin-bottom: 10px
}
#singleImage	{
	width:100%;
	height:500px;

}
#experienceName	{
	// width: auto;
	position: absolute;
	top: 20px;
	font-size: 3em;
	background-color: rgba(255, 255, 255, .7);
	color: rgba(0, 0, 0, .7);
	padding-left: 30px;
	padding-right:30px;
	font-weight: 500;
}
.flexColumn	{
position: relative;
}
.item {
	position: relative;
  top: 500px;
	left:	0;
}
.location	{
	margin-top: 120px;
}
.description	{
	font-style: normal;
	font-weight: 400;
}
.clear	{
	clear:both;
}
.moreBottomPadding	{
	padding-bottom: 40px;
}
.md-raised	{
	width:120px;
	height:40px;
	margin: 0;
line-height: 40px;
min-height: 40px;
vertical-align: top;
}
// button.md-raised.success.pull-right.md-button.md-ink-ripple	{
// 	background-color: green;
// 	width:120px;
// 	height:40px;
// 	margin: 0;
// 	line-height: 40px;
//  	min-height: 40px;
//  vertical-align: top;
// }
.glyphicon-star, .glyphicon-star-empty {
  color:$starOrange;
}
.title	{
	margin-left: 10px;
	margin-top: 45px;
}
#moreThingsToLike	{
	margin-bottom: 45px;
}
.block-ellipsis-small {
 display: block;
 display: -webkit-box;
 max-width: 100%;
 // height: 43px;
 margin: 0 auto;
 margin-bottom: 9px;
 font-size: 1em;
 line-height: 1;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
}
.reviewBody{
	font-style: normal;
	font-weight: 300;
}
#ratingUnderPhoto	{
	margin-top: 19px
}
.reviewBlock	{
	padding-left: 30px
}
#reviewSectionTitle	{
	margin-top: 0
}
#writeReviewTitle	{
	height:40px;
	margin: 0;
	text-align: right;
	line-height: 40px
}
.md-button{
	text-transform: none;
}
#newReviewBody{
	width:80%;
	height:auto;;
	vertical-align: top;
}
._italicFraction	{
	font-style: italic;
	letter-spacing: 2px;

}
#allExperiencePage	{
	border-top: 100px;
}
.md-subheader .md-subheader-inner	{
	background-color: $contentBackground;
	color: black;
}
.btn-primary	{
	background-color: $primaryGreenLighter;
	border-color: rgb(50, 50, 50);
}
.btn-primary:hover		{
	background-color: $primaryGreen;
	border-color: rgb(50, 50, 50);
}
.btn-warning	{
	background-color: rgb(150, 150, 150);
	border-color: rgb(50, 50, 50);
}
.btn-warning:hover	{
	background-color: rgb(100, 100, 100);
	border-color: rgb(50, 50, 50);
}
.card-headline	{
	padding-top: 8px;
	padding-bottom: 0px;
	margin-bottom: 0px;

}
#ratingOnCard	{
	min-height: 10px;
	height: 30px;
	padding-left: 18px;
	line-height: 30px
}
md-card md-card-content	{
	margin-top: 0;
	padding-top: 0;
}
p.ng-binding	{
	line-height: 100%;
}
.md-no-style.md-list-item-inner.md-ink-ripple	{
	padding-top: 0px;
	padding-bottom: 0px;
}
// .cardPrice	{
// 	padding-right: 20px;
// 	margin-bottom: 0;
// 	vertical-align: bottom;
// }
.cardPrice	{
	padding-left: 9px;
	color: rgba(0,0,0,.85);
}




/*** Table Styles **/


th {
  color:#fff;
  border-bottom:4px solid #9ea7af;
  font-size:12px;
  text-align:left;
  vertical-align:top;
  background-color:#155990;
  padding : 8px;
  //font-weight:bold;
}


tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:12px;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  text-align:left;
  vertical-align:top;

}
tr:hover td {
  background:#DCDCDC;
  color:#000;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}


tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
td{
padding : 8px;
max-width : 500px;
}

.adminexpsearch label{
  width: 100%;
}

.adminexpsearch input{
  width:100%;
  color : #000;
  padding: 4px;
  border: 0px ;
  border-radius:2px;
}
