<div class="container-fluid">
	<div class="col-sm-8 col-sm-offset-2">
		<div ng-repeat="fn in adminFunctions">
			<md-card>
			        <md-card-title>
			          <md-card-title-text>
			            <span class="md-headline">{{fn.label}}</span>
			          </md-card-title-text>
			        </md-card-title>
			        <md-card-actions layout="row" ayout-align="space-around center">
			          <md-button class="actionsbut" ng-repeat="action in fn.actions" class="md-raised" ui-sref="{{action.value}}">{{action.label}}</md-button>
			        </md-card-actions>
			</md-card>
		</div>
	</div>
</div>