
<table style="margin:auto auto;width:90%">
<th class="adminexpsearch"><label >name <br><input  type="text" ng-model="search_name"></label></th>
<th class="adminexpsearch"><label >image<br><input  type="text" ng-model="search_image"></label></th>
<th class="adminexpsearch"><label >short desccription<br><input  type="text" ng-model="search_sdesc"></label></th>
<th class="adminexpsearch"><label >country<br><input  type="text" ng-model="search_country"></label></th>
<th class="adminexpsearch"><label >instock <br><input  type="text" ng-model="search_stock"></label>
<th class="adminexpsearch"><label >price<br><input  type="text" ng-model="search_price"></label></th>
<tr ng-repeat="exp in allexp | filter : {name : search_name} | filter : {photoUrl : search_image} | filter : {shortDescription : search_sdesc} | filter : {price : search_price} | filter : {quantity : search_stock} " ui-sref="editExperiences({id : exp._id})">
<td>{{exp.name}}</td><td><img style="width:100px" ng-src="{{exp.photoUrl}}"></td><td>{{exp.shortDescription}}</td><td>{{exp.address.country}}</td><td>{{exp.quantity}}</td><td>${{exp.price}}
</td>
</tr>
</table>