#manageUsersTable {
  padding-top: 25px;

  md-table-container  {
    margin-top: 25px;
  }

  table {
    border-spacing: 10px;
  }
  td {
    padding: 10px;
    background-color: rgb(240, 240, 240);
  }
  th  {
    background-color: #141b2e;
    color:white;
    font-size: 1.2em;
  }

	md-switch .md-bar {
		background-color: #FFFFFF;
	}

	md-switch.md-checked .md-bar {
	    background-color: #FFFFFF; /* set selected bar color */
	}

	md-switch .md-thumb {
     /* not selected switch color */
		 background-color: #ef6145;
	}

	md-switch.md-checked .md-thumb {
	    background-color: rgba(89, 226, 168, 0.6);
			color: rgba(89, 226, 168, 0.6) /* selected switch color */
	}

}

.actionsbut{
	width: none !important;
}
