<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<md-list>
				<md-subheader class='md-no-sticky md-primary'>Categories</md-subheader>
				<md-list-item ng-repeat='category in categories'>
					<md-checkbox class='md-accent' ng-checked="isSameAsBreadcrumb(category) || isSelected(category)" ng-click="toggle(category)"></md-checkbox>
					<p> {{ category.name }} </p>
				</md-list-item>
			</md-list>
		</div>
		<div class="col-sm-10">
			<div class="row">
		    <div class="col-xs-12">
					Number of experiences: {{ allexp.length }}
		      <div class="input-group input-group-lg">
		        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
		        <input type="text" class="form-control" placeholder="Search Experiences" ng-model="expsearch"/>
		      </div>
		    </div>
		  </div>
			<md-grid-list md-cols-gt-md="3" md-cols-md="2" md-cols-sm="1" md-row-height="1:1">
				<md-grid-tile ng-repeat="exp in allexp | filter: {name: expsearch}">
					<experience-card></experience-card>
				</md-grid-tile>
			</md-grid-list>
		</div>
	</div>
</div>
