<toast></toast>
<div  class="container-fluid grayBackground" id="allExperiencePage">
	<div class="row">
		<div class="col-sm-2">
			<md-list>
				<md-subheader class='md-no-sticky md-primary'>Categories</md-subheader>
				<md-list-item ng-repeat='category in categories'>
					<md-checkbox class='md-accent' ng-checked="isSameAsBreadcrumb(category) || isSelected(category)" ng-click="toggle(category)"></md-checkbox>
					<p> {{ category.name }} </p>
				</md-list-item>
			</md-list>
			<md-button class="md-primary bold" ng-click="selectAll()"> Select All </md-button>

			<md-divider></md-divider>
			<md-subheader>Rating</md-subheader>
			<h4><uib-rating ng-model="greaterThanRating" max="max" enable-reset="false" data-readonly="false" aria-labelledby="default-rating"></uib-rating></h4>
			<md-divider></md-divider>
			<md-subheader>Price</md-subheader>
			<md-input-container>
				<label>Min</label>
				<input type="number" ng-model="minPrice">
			</md-input-container>
			<md-input-container>
				<label>Max</label>
				<input type="number" ng-model="maxPrice">
			</md-input-container>



		</div>
		<div class="col-sm-10">
			<div class="row">
		    <div class="col-xs-12">
					<h4>Number of experiences: {{ allexp.length }}</h4>
		      <div class="input-group input-group-lg">
		        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
		        <input type="text" class="form-control" placeholder="Find Your Experience" ng-model="expsearch"/>
		      </div>
		    </div>
		  </div>
			<md-content layout-paddng>
				<div layout="row" layout-wrap>
					<!-- <experience-card ng-repeat="exp in allexp | filter: {name: expsearch} | priceFilter:minPrice" flex-gt-md="33" flex-gt-sm="50" flex="100"></experience-card> -->
					<experience-card ng-repeat="exp in allexp | filter: {name: expsearch} | categoryFilter:checkedCategories | averageRatingFilter:greaterThanRating | priceFilter:minPrice" flex-gt-md="33" flex-gt-sm="50" flex="100"></experience-card>
				</div>
			</md-content>

		</div>
	</div>
</div>
