<div class="container-fluid">
	<!-- <div class="col-sm-2">filter</div> -->
	<div class="col-sm-12"	id="singleExperience">
		<div>
			<!-- <a ui-sref="experience"> -->
			<!-- begin the card itself -->
				<div class="col-sm-12" >
					<div class="col-sm-2 location" >
						<h4>Location:</h4>
						{{experience.address.city}}
						<br>
						{{experience.address.state}}
						<br>
						{{experience.address.country}}

					</div>
					<div class="col-sm-8 moreBottomPadding" >
						<h2 id="breadcrumb"><a ui-sref="experiences">Experiences&nbsp</a><span class="glyphicon glyphicon-arrow-right"></span> &nbsp<a ui-sref="experiences({'category': experience.category})">{{experience.category.name}} </a><span class="glyphicon glyphicon-arrow-right"></span>&nbsp {{experience.name}}</h2>

						<div id="singleImage" class="col-sm-8" ng-style="{'background': 'url({{experience.photoUrl}})','background-size': '100%, 500px', 'background-repeat': 'no-repeat'}">
							<div id="experienceName">{{experience.name}}</div>

						</div>
						<!-- begin rating area -->
						<div>
							<h4>Rating :
								<uib-rating ng-model="rate" max="max" enable-reset="false" data-readonly="isReadonly" aria-labelledby="default-rating"></uib-rating>
								<!-- <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span> -->
							</h4>
						</div>

						<h4 class="description">{{experience.description}}</h4>

						<h4 class="pull-right">Only {{tempQuantity}} spots left. Reserve now! &nbsp &nbsp ${{experience.price}}</h4>
							<div class="clear"></div>
						<!-- <button type="button" class="btn btn-success pull-right" ng-click="addToCart(experience)">Add to Cart</button> -->
						<md-button class="md-raised  pull-right" ng-disabled='!tempQuantity' ng-click="addToCart(experience)"><md-icon class="material-icons" ng-style='{ color: "rgb(89, 226, 168)" }'>add_shopping_cart</md-icon></md-button>

					</div>
					<div class="col-sm-2 ">
					</div>
				</div><!-- end card div -->
				<toast></toast>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<h4 class="col-sm-4" id="moreTitle">More stuff to like</h4>
	</div>
	<div class="row" id="moreThingsToLike">
		<div class="col-sm-12" >
			<div class="col-sm-2"></div>
			<div class="col-sm-2" >
			<experience-small></experience-small>
			</div>
			<div class="col-sm-2" >
			<experience-small></experience-small>
			</div>
			<div class="col-sm-2" >
			<experience-small></experience-small>
			</div>
			<div class="col-sm-2" >
			<experience-small></experience-small>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
