<div class="container-fluid">
	<toast></toast>

	<!-- <div class="col-sm-2">filter</div> -->
	<div class="col-sm-12"	id="singleExperience">
		<div>
			<!-- begin the card itself -->
				<div class="col-sm-12" >
					<div class="col-sm-2 location" >
						<h4>Location:</h4>
						{{experience.address.city}}
						<br>
						{{experience.address.state}}
						<br>
						{{experience.address.country}}

					</div>
					<div class="col-sm-8 moreBottomPadding" >
						<h2 id="breadcrumb"><a ui-sref="experiences">Experiences&nbsp</a><span class="glyphicon glyphicon-arrow-right"></span> &nbsp<a ui-sref="experiences({'category': experience.category})">{{experience.category.name}} </a><span class="glyphicon glyphicon-arrow-right"></span>&nbsp {{experience.name}}</h2>

						<div id="singleImage" class="col-sm-8" ng-style="{'background': 'url({{experience.photoUrl}})','background-size': '100%, 500px', 'background-repeat': 'no-repeat'}">
							<div id="experienceName">{{experience.name}}</div>

						</div>
						<div class="clear"></div>
						<!-- begin rating area -->
						<div id="ratingUnderPhoto">
							<h4>Rating :
								<uib-rating ng-model="rate" max="max" enable-reset="false" data-readonly="isReadonly" aria-labelledby="default-rating"></uib-rating><span class="_italic">{{fractionConvertor(rate)}}</span>
							</h4>
						</div>
						<h4 class="description">{{experience.description}}</h4>

						<h4 class="pull-right">Only {{tempQuantity}} spots left. Reserve now! &nbsp &nbsp ${{experience.price}}</h4>
							<div class="clear"></div>
						<md-button class="md-raised  pull-right" ng-disabled='!tempQuantity' ng-click="addToCart(experience)"><md-icon class="material-icons" ng-style='{ color: "rgb(89, 226, 168)" }'>add_shopping_cart</md-icon></md-button>

					</div>
					<div class="col-sm-2 ">
					</div>
				</div><!-- end card div -->
		</div>
	</div>

<!-- begin you may also like -->
	<div class="row">
		<div class="col-sm-2"></div>
		<h3 class="col-sm-4" class="title">You may also like:</h3>
	</div>
	<div class="row" id="moreThingsToLike">
		<div class="col-sm-12" >

				<div class="col-sm-2"></div>
				<span ng-repeat="exp in similarExperiences">
					<experience-small></experience-small>
				</span>
				<div class="col-sm-2"></div>

		</div>
	</div>

	<!-- begin reviews -->
	<div class="row">
		<div class="col-sm-2"></div>

		<h3 class="col-sm-6 title" id="reviewSectionTitle">Reviews:</h3>

		<div class="col-sm-2 " ng-show="loggedInTrue">
			<div ng-show="!alreadyReviewed">
				<md-button class="md-raised" ng-disabled='!tempQuantity' ng-click="writeReview(experience._id)">Write review<md-icon class="material-icons" ng-style='{ color: "rgb(89, 226, 168)" }'>create</md-icon></md-button>
			</div>
			<div ng-show="alreadyReviewed">
				<h3 class="_italic">You reviewed this product.</h3>
			</div>
		</div>

		<div class="col-sm-2"></div>

	</div>

	<div class="row" ng-repeat="review in reviews">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<review></review>
		</div>
	</div>

	<div class="moreBottomPadding">

	</div>
