navbar {

  display: block;
  background: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 100%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 200px;
  }

  a {
    color: $navBarText;
    font-size: 16px;
    padding-bottom: 0px
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: $deepOrange;
    }
    &:hover {
      background: none;
      color: $deepOrange;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid $navBarText;
    margin-top: 10px;
    background: none;
    outline: none !important;
    color:  $navBarText;

  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: $navBarText;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }


  md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: $navBackground;
  }
  md-toolbar {
    height:80px;
  }

  .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  img{
    padding-right: 70px;
  }

}
