<section id='cart'>

  <div class='container'>
      <md-toolbar class='md-table-toolbar md-accent'>
        <div class='md-toolbar-tools'>
          <h1>Shopping Cart</h1>
        </div>
      </md-toolbar>
      <md-divider></md-divider>
      <!-- <md-list>
        <md-list-item class='md-subhead' ng-style='{ background: "#69F0AE" }' ng-repeat = 'lineItem in cart.lineItems'>
          <p>{{ lineItem.experienceId.name }}</p>
          <p>{{ lineItem.quantity }}</p>
          <p>{{ lineItem.experienceId.price }}</p>
          <md-button class='md-raised md-warn' ng-click='removeFromCart(lineItem)'><md-icon class="material-icons">remove_shopping_cart</md-icon></md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class='md-subhead'>
          <p>Subtotal</p>
          <p>{{ getSubtotal(cart) }}</p>
        </md-list-item>
      </md-list> -->
      <md-table-container class='md-whiteframe-4dp'>
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th md-column>Experience</th>
              <th md-column>Quantity</th>
              <th md-column>Price</th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody>
            <tr class='md-subhead' ng-style='{ background: "#B9F6CA" }' class='accent line' md-row ng-repeat='lineItem in cart.lineItems'>
              <td md-cell>{{ lineItem.experienceId.name }}</td>
              <td md-cell>{{ lineItem.quantity }}</td>
              <td md-cell>{{ lineItem.experienceId.price }}</td>
              <td md-cell><md-button class='md-icon-button'  ng-click='removeFromCart(lineItem)'><md-icon class="material-icons md-18" ng-style='{ color: "#000000" }'>remove_shopping_cart</md-icon></md-button>
            </tr>
            <tr class='accent line' ng-style='{ background: "#FF8A80" }'>
              <td md-cell>Subtotal</td>
              <td md-cell>Nada here</td>
              <td md-cell>{{ getSubtotal(cart) }}</td>
              <td md-cell></td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <!-- <md-button class='md-primary' ui-sref='checkout'>Check out!</md-button> -->
      <div class='md-whiteframe-4dp'>
        <h2 class='md-title'>Tell us some info about you</h2>
        <div layout='row'>
          <md-input-container flex>
            <label>Shipping Address</label>
            <md-select ng-model='shippingAddressSelected' md-selected-text='getAddressText()'>
              <md-optgroup label='Shipping Address'>
                <md-option ng-value='address' ng-repeat='address in user.addresses'>{{ address.address }}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <div layout='row'>
          <md-input-container flex>
            <label>Billing Address</label>
            <md-select ng-model='billingAddressSelected' md-selected-text='getAddressText()'>
              <md-optgroup label='Billing Address'>
                <md-option ng-value='address' ng-repeat='address in user.addresses'>{{ address.address }}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
      </div>
      <md-button class='md-primary' flex='15' ng-style='{ background: "#B9F6CA" }' ng-click='checkout()'>Check out!</md-button>
      <toast></toast>
  </div>

</section>
