<toast></toast>
<section id="cart">

  <div class="container">
      <md-toolbar class="md-table-toolbar md-accent">
        <div class="md-toolbar-tools">
          <h1>Shopping Cart</h1>
        </div>
      </md-toolbar>
      <md-divider></md-divider>
      <md-table-container class="md-whiteframe-4dp">
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th md-column>Experience</th>
              <th md-column>Quantity</th>
              <th md-column>Price</th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody>
            <tr class="md-subhead accent line" ng-style="{ background: '#B3E5FC' }" md-row ng-repeat="lineItem in cart.lineItems">
              <td md-cell>{{ lineItem.experienceId.name }}</td>
              <td md-cell><h-number class="numInput" value="lineItem.quantity" min="0" max="{{lineItem.experienceId.quantity}}" step="1" change="onChange(lineItem)"></h-number>
                <md-button class="md-raised" ng-click="updateLineItemQuantity(lineItem)" ng-disabled="lineItem.expired === true">Update</md-button>
                <md-button class="md-raised" ng-if="lineItem.expired === true" ng-disabled="lineItem.expired === false">Items is expired (can't add back to cart yet)</md-button>
              <td md-cell><h-number class="numInput" value="lineItem.quantity" min="1" max="{{lineItem.experienceId.quantity}}" step="1" change="updateCart(lineItem)"></h-number>
                <!-- <md-button class="md-raised" ng-click="updateCart(lineItem)">Update</md-button> -->

              </td>
              <td md-cell>{{ lineItem.experienceId.price }}</td>
              <td md-cell><md-button class="md-icon-button"  ng-click="removeFromCart(lineItem)"><md-icon class="material-icons md-18" ng-style="{ color: '#000000' }">remove_shopping_cart</md-icon></md-button></td>
            </tr>
            <tr class="accent line" ng-style="{ background: '#FF8A80' }">
              <td md-cell class="bold">Subtotal</td>
              <td md-cell></td>
              <td md-cell class="bold">{{ getSubtotal(cart) }}</td>
              <td md-cell></td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-button class="md-primary bold" flex="15" ng-style="{ background: '#B9F6CA' }" ng-click="checkout()">Check out!</md-button>
      <md-button class="md-primary bold" flex="15" ng-style="{ background: '#B9F6CA' }" ng-click="expire()">Test expiring of line items (anything longer than 30s will be expired)!</md-button>


  </div>

</section>
