* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: "tenso",sans-serif;
  // font-family: "Noto Sans",sans-serif; this is Material Design
  font-style: normal;
  font-weight: 500;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 25px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'newUser/main';
@import 'experiences/main';
@import 'cart/main';
@import 'admin/main';

