* {
  box-sizing: border-box;
}

// colors
$orange: #FFA500;
// $starOrange:  #FDC54C;
$starOrange:  #ef6145;

$navBackground: #141b2e;
$navBarText:  white;
$contentBackground: #F0F0F0;
$cardBackground:  #F7F7F7;
// $backgroundGray: #141b2e;
$deepOrange:  #ef6145;
$primaryGreen:  rgb(89, 226, 168);
$primaryGreenLighter:  rgba(89, 226, 168, 0.6);




body {
  background: #fdfdfd;
  //font-family: "tenso",sans-serif;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 0;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'newUser/main';
@import 'experiences/main';
@import 'cart/main';
@import 'admin/main';
@import 'orderConfirmation/main';
