#cart {
  padding-top: 25px;

  table {
    border-spacing: 10px;
  }
  td {
    padding: 10px;
    // background-color: rgb(240, 240, 240);
  }
  th  {
    background-color: rgb(175, 175, 175);
    color:white;
    font-weight: bold;
    font-size: 1.4em;

  }

  .bold{
    font-weight: bold;
  }
  .input-group {
    width:100px;
    padding: 0;
    border-collapse: collapse;
  }
  .input-group-addon{
    height: 15px;
    overflow: hidden;
    font-size: 1em
  }
  a.md-button.md-default-theme.md-primary.md-raised, a.md-button.md-primary.md-raised, a.md-button.md-default-theme.md-primary.md-fab, a.md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab  {
    background-color: rgb(200, 200, 200);
  }
  a.md-button.md-default-theme.md-primary, a.md-button.md-primary, .md-button.md-default-theme.md-primary, .md-button.md-primary  {
    background-color: $primaryGreen;
    color:  white;
  }
  img {
    height:50px;
  }
  .moveRight  {
    text-align: right;
  }
  .dataText {
    font-size: 1.2em;
  }


}
